@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
	position:relative;
	background-color:#e99c57;
}

header {
	width:100%;
	position:fixed;
	z-index:99;
}

.bg-dark {
	background-color:transparent !important;
}

.navbar-brand {
	font-family:"Staatliches", sans-serif;
	color:#FFF !important;
	font-weight:bold;
	font-size:2.5rem;
	letter-spacing:0.1rem;
	padding-left:1vw;
}

ul.navbar-nav {
	padding-right:1vw;
}

ul.navbar-nav li a.nav-link {
	font-family:"Staatliches", sans-serif;
	color:#FFF !important;
	font-size:1.5rem;
	padding-top: 1rem;
}

.alt {
	background:#e99c57 !important;
	box-shadow:1px 2px 4px 0px #00000075 !important;
}

.alt .navbar-brand {
	color:#51ff0d !important;
}

.alt ul.navbar-nav li a.nav-link {
	color:#00241B !important;
}

ul.navbar-nav li a.nav-link:hover {
	color:#ca6624 !important;
}

ul.navbar-nav li a.nav-link.active{
	color:red !important;
	transition:all.3s;
}

.banner {
	position:relative;
	background:url('../img/To5E-4a.jpg');
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	
	height:100vh;
	clip-path:polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
	box-shadow:inset 1px 2px 40px 1px #00000075 !important;
}

section {
	padding-top:10vh;
}

h1, h2, h3, h4, h5, h6 {
	font-family:"Staatliches", sans-serif;
}

p {
	font-family:"Quicksand", sans-serif;
	font-size: 24px;
}